<!-- Header -->
<header class="">
	<nav class="navbar navbar-expand-lg">
        <div class="container">
			<a class="navbar-brand" routerLink="/home"><h2>Find A Collector <em></em></h2></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				
			</div>
			<div class="functional-buttons">
				<ul>
					<li><a routerLink="#">Log in</a></li>
					<li><a routerLink="/sellers/create" >Join as a Professional</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
	<div class="container">
        <div class="row">
			<div class="col-md-6 offset-md-3">
				<div style="background-color:white;padding:50px;">
					
					<formio  [form]="fdata"
					[options]="formConfig.options" (submit)="onSubmit($event)"></formio>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner Ends Here -->

<!-- Footer Starts Here -->
<footer>
	<div class="container">
        <div class="row">      
			<div class="col-md-12">
				<div class="sub-footer">
					<p>Copyright &copy; 2020 Cloud Hosting Company
					- Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- The Modal -->
	
</footer>
<!-- Footer Ends Here -->
