<div style="padding:10px;">
	<div class="contact-form">
		<form id="contact" action="" method="post">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					
				</div>
				<div class="col-md-4 col-sm-4">
                    <h3>
						Preview : {{formName}}
					</h3>
				</div>
				<div class="col-lg-4">
                    <fieldset>
						
						<button class="main-button" routerLink="/admin/forms">Back to Forms</button>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-3 col-sm-3">
			
		</div>
		<div class="col-md-6 col-sm-6 preview">
			<formio [form]='fdata' form-display="wizard" (change)="onChange($event)"></formio>
		</div>
		<div class="col-md-3 col-sm-3">
			
		</div>
	</div>
	
	
	
	<!-- Modal HTML -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header justify-content-center">
					<div class="icon-box">
						<i class="fa fa-check"></i>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body text-center">
					<h4>Great!</h4>	
					<p>Your Form has been Update successfully.</p>
					
				</div>
			</div>
		</div>
	</div>   
</div>